<template>
  <v-app>
    <Navbar />
    <v-main>
      <router-view />
    </v-main>
    <Footer />
  </v-app>
</template>

<style scoped>
nav {
  letter-spacing: 2px;
}
</style>

<style>
  body {
  background: white;
}
.theme--light.v-application{
  background: transparent !important;
}
</style>

<script>
import Navbar from "@/components/Navbar.vue";
import Footer from "@/components/Footer.vue";

export default {
  name: "App",
  components: {
    Navbar,
    Footer,
  },
  metaInfo: {
    title: "Default App Title",
    titleTemplate: "%s | vue-meta Example App",
    htmlAttrs: {
      lang: "de",
    },
    meta: [
      //{ charset: 'utf-8' },
      {
        name: "description",
        content: "An example Vue application with vue-meta.",
      },
      // { name: 'viewport', content: 'width=device-width, initial-scale=1' }
    ],
  },
  data: () => ({}),
};
</script>
