<template>
  <v-container>
  <v-footer
    dark
    padless
    app 
    bottom
    absolute
  >
    <v-card
      class="flex"
      flat
      tile
    >
      <v-card-title class="primary">
        <strong class="subheading">Get connected with us on social networks!</strong>

        <v-spacer></v-spacer>

        <v-btn
          v-for="icon in icon"
          :key="icon"
          class="mx-4"
          dark
          icon
        >
          <v-icon size="24px">
            {{ icon }}
          </v-icon>
        </v-btn>
      </v-card-title>

      <v-card-text class="py-2 white--text text-center primary">
        {{ new Date().getFullYear() }} — <strong><em>V-Clothing</em></strong>
      </v-card-text>
    </v-card>
  </v-footer>
  </v-container>
</template>

<style scoped>

</style>

<script>
export default ({
    data: () => ({
        icon: [
            'mdi-facebook',
            'mdi-twitter',
            'mdi-linkedin',
            'mdi-instagram',
        ],
    }),
})
</script>
