<template>
  <nav>
    <v-toolbar app>
      <v-app-bar-nav-icon v-on:click="drawer = !drawer" class="grey--text"
        ><v-icon>dehaze</v-icon></v-app-bar-nav-icon
      >
      <router-link to="/"
        ><img
          class="mr-3"
          :src="require('../assets/img/logo/logo_small_icon_only_inverted.png')"
          height="50"
      /></router-link>
      <v-toolbar-title>
        <span style="color: #2196f3">V</span>
        <span class="font-weight-light">-CLOTHING</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-avatar class="primary mr-1">
        <router-link to="/register" tag="button"
          ><v-icon dark>mdi-account-outline </v-icon></router-link
        >
      </v-avatar>
      <v-avatar class="primary mr-1">
      <v-icon @click="logoutUser" v-on:click="snackbar=true" dark>mdi-logout</v-icon>
      </v-avatar>
      <v-avatar class="primary">
        <router-link to="/basket" tag="button"
          ><v-icon dark>mdi-shopping</v-icon></router-link
        >
      </v-avatar>
    </v-toolbar>

    <v-navigation-drawer app v-model="drawer" temporary class="primary drawer">
      <v-row justify="center">
        <v-col cols="6">
          <v-avatar size="100" class="mt-2 mb-2">
            <img
              src="../assets/img/logo/logo_icon_small.png"
              style="display: flex; justify-content: center; item-align: center"
            />
          </v-avatar>
          <p class="white--text.subheading.mt-5">V-CLOTHING</p>
        </v-col>
      </v-row>
      <v-list>
        <v-list-item
          v-for="link in links"
          :key="link.text"
          router
          :to="link.route"
        >
          <v-list-item-action>
            <v-icon class="white--text">{{ link.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class="white--text">{{
              link.text
            }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-snackbar v-model="snackbar" :timeout="timeout" id="snackbar">
      {{ text }}

      <template v-slot:action="{ attrs }">
        <v-btn color="blue" text v-bind="attrs" @click="snackbar = false">
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </nav>
</template>

<style scoped>
p {
  letter-spacing: 2px;
}
</style>

<script>
export default {
  data() {
    return {
      snackbar: false,
      text: "Erfolgreich ausgeloggt",
      timeout: 2000,
      drawer: false,
      links: [
        { icon: "mdi-view-dashboard", text: "Dashboard", route: "/" },
        { icon: "mdi-basket", text: "Products ", route: "/products" },
        { icon: "mdi-account-group", text: "Team", route: "/team" },
      ],
    };
  },
  methods: {
    logoutUser() {
      return this.$store.dispatch("logOutUser");
    },
  },
  computed: {
    isLoggedIn() {
      return !!this.$store.state.currentUser;
    },
  },
};
</script>
