<template>
<div>
  <h1>
    Es befindet sich noch nichts im Warenkorb. Leg los und fülle deinen
    <br>Warenkorb mit den neusten Fashion-Trends.
  </h1>
  <v-icon size="100" id="cart">
      mdi-cart-outline
  </v-icon>
  </div>
</template>
<style scoped>
h1 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
#cart{
    display: flex;
    justify-content: center;
}
</style>
<script>
export default {
  setup() {},
};
</script>
