<template>
  <v-card class="overflow-hidden mx-auto" id="register" max-width="500">
    <v-toolbar dark color="primary"
      ><img
        class="mr-3"
        :src="require('../assets/img/logo/logo_icon_small.png')"
        height="50"
      />
      <v-toolbar-title class="font-weight-bold" text>
        Login<br />
      </v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <v-form @submit.prevent="loginUser()">
      <v-card-text>
        <v-text-field
          prepend-icon="mdi-account-outline"
          label="E-Mail"
          placeholder="E-Mail-Adresse"
          :rules="emailRules"
          required
          v-model="email"
        ></v-text-field>

        <v-text-field
          prepend-icon="lock"
          label="Passwort"
          placeholder="Passwort"
          :rules="[(v) => !!v || 'Field is required']"
          v-model="password"
        ></v-text-field>
      </v-card-text>
    </v-form>

    <v-divider></v-divider>
    <v-card-actions  id="loginBtn">
      <v-btn color="success" @click="loginUser()">Einloggen</v-btn>
    </v-card-actions>
    <hr>
    <div id="registerBt" class="ma-2">
      Noch kein Account?
      <br />Jetzt Registrieren
      <v-btn color="primary" class="ma-2" to="/register"> Registrieren </v-btn>
    </div>
  </v-card>
</template>


<style scoped>
#loginBtn{
  display: flex;
  justify-content: flex-end;
}
#registerBt{
  display: flex;

}
#register {
  width: 100%;
  margin: 150px;
}

#agb {
  display: flex;
  justify-content: flex-start;
  text-align: center;
}
</style>

<script>
export default {
  data: () => ({
    select: null,
    items: ["Österreich", "Deutschland", "Schweiz"],
    checkbox: false,
    activePicker: null,
    date: null,
    menu: false,
    emailRules: [
      (v) => !!v || "E-Mail is required",
      (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
    ],
    email: "",
    password: "",
  }),
  methods: {
    async loginUser() {
      this.$store
        .dispatch("loginUser", {
          email: this.email,
          password: this.password,
        })
        .then(() => this.$router.push("/"))
        .catch((err) => console.log(err));
      console.log("alles gut");
    },
  },
};
</script>