<template>
  <div id="products ma-5">
    <div class="border">
      <p class="text-center mt-2">
        versandkostenfrei in Österreich | Deutschland | Schweiz
      </p>
    </div>
    <v-container class="my-5">
      <v-row wrap>
        <v-col
          cols="12"
          sm="6"
          md="4"
          lg="3"
          v-for="product in products"
          :key="product.image"
        >
          <v-card
            class="ma-3"
            id="prodcut_card"
            data-aos="fade-up"
            data-aos-duration="1500"
          >
            <v-responsive>
              <img :src="product.image" alt="" height="350" width="100%" />
            </v-responsive>
            <v-card-text>
              <div class="subheading">{{ product.name }}</div>
              <div class="font-weight-bold">{{ product.price }}</div>
              <v-btn>
                <v-icon small>mdi-cart</v-icon> In den Warenkorb
              </v-btn>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<style scoped>
#prodcut_card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
</style>

<script>
export default {
  data() {
    return {
      products: [
        { image: "/z1.jpg", name: "Ski Jacke Gelb", price: "199.90" },
        { image: "/z2.jpg", name: "Ski Helm", price: "49.90" },
        { image: "/z3.jpg", name: "Hose", price: "19.90" },
        { image: "/z4.jpg", name: "T-Shirt", price: "9.90" },
        { image: "/z5.jpg", name: "Kappe", price: "25.90" },
        { image: "/z6.jpg", name: "Trainings-set", price: "69.90" },
        { image: "/z7.jpg", name: "Schuhe", price: "79.90" },
        { image: "/z8.jpg", name: "T-Shirt", price: "19.90" },
        { image: "/z9.jpg", name: "Hose", price: "29.90" },
        { image: "/z10.jpg", name: "Hemd", price: "39.90" },
        { image: "/z11.jpg", name: "Pullover", price: "39.90" },
        { image: "/z12.jpg", name: "Blazer", price: "89.90" },
      ],
      methods: {},
    };
  },
};
</script>
