<template>
  <div>
    <v-card
      class="overflow-hidden mx-auto"
      id="register"
      color="white"
      max-width="500"
      data-aos="fade-up"
      data-aos-duration="2000"
    >
      <v-toolbar color="primary" dark class=""
        ><img
          class="mr-3"
          :src="require('../assets/img/logo/logo_icon_small.png')"
          height="50"
        />
        <v-toolbar-title class="font-weight-bold">
          Ich bin neu hier<br />
          <h6 class="font-weight-light">
            Noch kein Account? Dann leg dir jetzt eins zu!
          </h6>
        </v-toolbar-title>
        <v-spacer></v-spacer>
      </v-toolbar>
      <form @submit.prevent="register()">
        <v-card-text>
          <v-text-field
            label="E-Mail"
            placeholder="E-Mail-Adresse"
            :rules="emailRules"
            required
            id="email"
            v-model="email"
          >
          </v-text-field>

          <v-text-field
            label="Passwort"
            placeholder="Passwort"
            :rules="[(v) => !!v || 'Field is required']"
            id="password"
            v-model="password"
          ></v-text-field>
        </v-card-text>
      </form>
      <v-card-actions id="registerBtn">
        <v-btn color="success" @click="register(), (snackbar = true)">
          Registrieren</v-btn
        >
      </v-card-actions>

      <hr />
      <div id="loginBtn" class="ma-2">
        <h4>Schon ein Account? <br />Jetzt einloggen</h4>
        <v-btn color="primary" class="ma-2" to="/login">LOGIN </v-btn>
      </div>
    </v-card>
    <v-snackbar v-model="snackbar" :timeout="timeout" id="snackbar">
      {{ text }}

      <template v-slot:action="{ attrs }">
        <v-btn color="blue" text v-bind="attrs" @click="snackbar = false">
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>


<style scoped>
#register {
  width: 100%;
  margin: 150px;
}

#agb {
  display: flex;
  justify-content: flex-start;
  text-align: center;
}
#registerBtn {
  display: flex;
  justify-content: flex-end;
}
#loginBtn {
  display: flex;
}
#snackbar {
}
</style>

<script>
// import axios from 'axios';
// import {server } from '../../src/helper';
// import router from '../../src/router/index'

export default {
  data: () => ({
    snackbar: false,
    text: "Account erfolgreich angelegt",
    timeout: 2000,
    nameRules: [(v) => !!v || "Name is required"],
    emailRules: [
      (v) => !!v || "E-Mail is required",
      (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
    ],
  }),
  return: {},
  watch: {
    menu(val) {
      val && setTimeout(() => (this.activePicker = "YEAR"));
    },
  },
  methods: {
    async register() {
      this.newUserCreated = false;
      this.doesEmailExist = false;
      try {
        await this.$store.dispatch("registerUser", {
          email: this.email,
          password: this.password,
        });
      } catch (error) {
        if (error.response.staus === 409) {
          this.doesEmailExist = true;
        }
      }

      this.newUserCreated = true;
      this.email = "";
      this.password = "";
    },
  },
};
</script>

