<template>
  <div class="team ma-5">
    <h1 class="subheading-1 grey--text">Team</h1>

    <v-container class="my -5">
      <v-row wrap>
        <v-col
          cols="12"
          sm="6"
          md="4"
          lg="3"
          v-for="person in team"
          :key="person.name"
          data-aos="fade-down"
          data-aos-duration="2000"
        >
          <v-card class="text-center ma-3" id="teamCard">
            <v-responsive id="teamMember">
              <div size="100">
                <img :src="person.avatar" alt="" width="100%" />
              </div>
            </v-responsive>
            <v-card-text>
              <div class="subheading">{{ person.name }}</div>
              <div class="grey--text">{{ person.role }}</div>
            </v-card-text>
            <!-- Dialog Fenster -->
            <v-dialog v-model="dialog" persistent max-width="600px">
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  color="primary"
                  dark
                  v-bind="attrs"
                  v-on="on"
                  class="ma-2"
                >
                  Message Us
                </v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="text-h5">Schick uns eine Nachricht</span>
                </v-card-title>
                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col cols="12">
                        <form
                          action="https://formsubmit.io/send/omer.vural97@gmail.com"
                          method="POST"
                          style=""
                        >
                          <input
                            name="email"
                            placeholder="Deine Email*"
                            required
                            id="inputField"
                          />
                          <input
                            name="text"
                            placeholder="Deine Nachricht"
                            required
                            id="msgBox"
                          />
                          <button type="submit" id="submit">Senden</button>
                        </form>
                      </v-col>
                    </v-row>
                  </v-container>
                  <small>*Bitte ausfüllen</small>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="dialog = false">
                    Close
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-card>
        </v-col>
      </v-row>
    </v-container>

    <v-expansion-panels class="ma-5 pa-10">
      <v-expansion-panel v-for="faq in faqs" :key="faq.title" id="expPanel">
        <v-expansion-panel-header>{{ faq.title }}</v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-card flat>
            <v-card-text class="grey--text">
              <div>{{ faq.answer }}</div>
            </v-card-text>
          </v-card>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </div>
</template>


<style scoped>
#teamMember {
  width: 100%;
}

#teamCard {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: transform 0.7s;
}
#teamCard:hover {
  transform: scale(1.1, 1.1);
}
#expPanel {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#inputField {
  border-style: solid;
  height: 50px;
  margin-right: 20px;
}
#msgBox {
  border-style: solid;
  height: 50px;
}
#submit{
  border-style: solid;
  margin: 50px;
}
</style>
<script>
export default {
  data() {
    return {
      dialog: false,
      team: [
        { name: "Dohn Joe", role: "CEO", avatar: "/person1.jpg" },
        { name: "Otto Normal", role: "Scrum Master", avatar: "/person2.jpg" },
        { name: "Maria Musterfrau", role: "Developer", avatar: "/person3.jpg" },
        { name: "Joana Doe", role: "Developer", avatar: "/person4.jpg" },
      ],
      faqs: [
        {
          title: "Wer seid ihr?",
          answer: "Wir sind V-Clothing, ein Webshop aus Österreich",
        },
        {
          title: "In welche Länder liefert ihr?",
          answer: "Wir liefern nach Österreich, Deutschland und in die Schweiz",
        },
        {
          title: "Für wen sind euere Produkte?",
          answer:
            "V-Clothing ist eher für junge Erwachsene oder alle jung gebliebenen Leute, yeah  ",
        },
        {
          title: "Wie funktioniert euer Webshop?",
          answer:
            "Das Prinzip ist simple, Produkt aussuchen Größe wählen und in den Warenkorb",
        },
        { title: "Ist die Webseite ready?", answer: "Bereit für die Presi!" },
      ],
    };
  },
};
</script>
